html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 50px auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    background-image: url(../images/backgroundImage.png);
}

.container {
    margin: 0px auto;
    max-width: 1000px;
    width: 100%;
}